*{
	padding:0;
	margin:0;
	
}
body{
 background:rgba(0,0,0,.7);
 overflow:hidden;

  
   

}
.left-panel{
	font-size:30px;
	position:absolute;
	width:25%;
	height:100%;
	background-image:url(../images/Panel.png);
	background-size:cover;
	background-repeat:no-repeat;


}
.left-panel h2{
	text-align:center;
	margin:0;
	padding:10px;
	background:rgba(0,0,0,0.4);


}
.left-panel{
	border:1px solid #2a2a2a;
}
.left-panel ul{
	list-style:none;
	padding:0;
	margin:0;

}
.left-panel a{
	display:block;
	color:#fff;
	text-decoration:none;
	padding:10px;
}
.left-panel li{
	outline:1px solid #00afef;
	position:relative;
	top:20px;
	transition: all 0.7s;
	
}
.left-panel li:hover{
	background:rgba(0,0,0,0.6);
	border-left:5px solid #FFF;
}
.imgd{
	position:relative;
	top:50px;
	left:0px;
	margin:auto;
	bottom:110px;
	width:100px;
	height:100px;
	background-image:url(../icon/coconut.png);
	background-size:cover;
	overflow:hidden;
	
}
.imgd:hover{
	transform:rotate(-360deg);
	transition:1.5s;

}

.contenido{
	width:100%;
	height:100%;
	position:absolute;
	background-image:url(../images/Fondo4.png);
   background-size:cover;
   background-attachment:fixed;
	border-left: 1px solid #FFF;
	transition:0.7s;
	box-sizing:border-box;

}
.menu{
	position:absolute;
	cursor:pointer;
	width:50px;
	height:50px;
}
.abrir{
	margin-left:25%;
}
.Nombre{
	color:#00afef;
	font-size:25px;
	position:relative;
	top:70px; 
}
.Nombre:hover{
	color:rgba(0, 173, 239, 0.7);
	transition:0.5s;
}
#trnegra{
	width:100%;
    height:100%;
    position:inherit;
	 background:rgba(0,0,0,.7);
}
.Nm{
	position:absolute;
	top:10%;
	left:10%;
	font-size:40px;
	color:#FFF;
}
.inNm{
	position:absolute;
	width:220px;
	height:30px;
	top:11%;
	left:35%;
	background:rgba(0,0,0,.7);
	color:#FFF;
}

.Np{
	position:absolute;
	top:20%;
	left:10%;
	font-size:40px;
	color:#FFF;
}
.inPs{
	position:absolute;
	width:220px;
	height:30px;
	top:21%;
	left:35%;
	background:rgba(0,0,0,.7);
	color:#FFF;
}
.Tl{
	position:absolute;
	top:31%;
	left:10%;
	font-size:40px;
	color:#FFF;

}
.inTl{

	position:absolute;
	width:220px;
	height:30px;
	top:32%;
	left:35%;
	background:rgba(0,0,0,.7);
	color:#FFF;
}
fieldset{
	border-style:none;
}
.Ne{
position:absolute;
	top:43%;
	left:10%;
	font-size:40px;
	color:#FFF;
}
.inNe{
	position:absolute;
	width:220px;
	height:30px;
	top:44%;
	left:35%;
	background:rgba(0,0,0,.7);
	color:#FFF;
}
.Boton{
	position:absolute;
	top:60%;
	left:28%;
	width:10%;
	height:4%;
	background:rgba(255,255,255,0.4);
}
.Boton:hover{
	transition:1s;
	background:rgba(4, 50, 86, 0.6);
	color:#FFF;
	border:1px solid #00afef;
}
.Logout{
	position:absolute;
	height:4%;
	width:10%;
	right:1%;
	top:1%;
	background:rgba(0, 173, 239,0.5);
	color:#FFF;
	border:1px solid #00afef;


}