*{
  padding:0;
  margin:0;
}
body{
  overflow-x: hidden;
  background-color:#000;
}
#trnegra{
	width:100%;
    height:100%;
    position:inherit;
	 background:rgba(0,0,0,.7);
}

.contenido{
  position:absolute;
  background-image:url('../images/esports/Fondo4.png');
  background-size: cover;
  border-left: 1px solid #FFF;
  transition:0.7s;
  width:100%;
  height:100%;
}
.miembros{
  position:absolute;
  top:10%;
  left:13%;
  color:#FFF;
  font-size:220%;
}
.invit{
  position:absolute;
	width:220px;
	height:30px;
	top:11%;
	left:42%;
	background:rgba(0,0,0,.7);
	color:#FFF
}
.invitSend{
  cursor:pointer;
  position:relative;
  left:59%;
  top:9%;
  height:4%;
  width:10%;
background:rgba(255, 0, 0, 0.5);
border:1px solid red;
color:#FFF;
}
.m1{
  position:relative;
	width:220px;
	height:30px;
	top:11%;
	left:42%;
	background:rgba(0,0,0,.7);
	color:#FFF
}
.msm {
  color: white;
  position: relative;
  text-align: center;
}
.m2{
  position:absolute;
  width:220px;
  height:30px;
  top:19%;
  left:42%;
  background:rgba(0,0,0,.7);
  color:#FFF
}
.m3{
  position:absolute;
  width:220px;
  height:30px;
  top:27%;
  left:42%;
  background:rgba(0,0,0,.7);
  color:#FFF
}
.m4{
  position:absolute;
  width:220px;
  height:30px;
  top:35%;
  left:42%;
  background:rgba(0,0,0,.7);
  color:#FFF
}
.m5{
  position:absolute;
  width:220px;
  height:30px;
  top:43%;
  left:42%;
  background:rgba(0,0,0,.7);
  color:#FFF;
}
.eliminar{
  cursor:pointer;
  position:relative;
  left:45%;
  top:11%;
  height:4%;
  width:10%;
background:rgba(255, 0, 0, 0.5);
border:1px solid red;
color:#FFF;
}
.eliminar2{
  cursor:pointer;
  position:absolute;
  left:60%;
  top:19%;
  height:4%;
  width:10%;
background:rgba(255, 0, 0, 0.5);
border:1px solid red;
color:#FFF;
}
.eliminar3{
  cursor:pointer;
  position:absolute;
  left:60%;
  top:27%;
  height:4%;
  width:10%;
background:rgba(255, 0, 0, 0.5);
border:1px solid red;
color:#FFF;
}
.eliminar4{
  cursor:pointer;
  position:absolute;
  left:60%;
  top:35%;
  height:4%;
  width:10%;
background:rgba(255, 0, 0, 0.5);
border:1px solid red;
color:#FFF;
}
.eliminar5{
  cursor:pointer;
  position:absolute;
  left:60%;
  top:43%;
  height:4%;
  width:10%;
background:rgba(255, 0, 0, 0.5);
border:1px solid red;
color:#FFF;
}
.cambio{
   position:absolute;
    top:53%;
    left:13%;
    color:#FFF;
    font-size:220%;
}
.elegir{
  position: absolute;
  top:54%;
  left:45%;
  width:7%;
  height:5%;
  background:rgba(0, 173, 239,0.5);
}
.cambioh{
  position:absolute;
   top:75%;
   left:13%;
   color:#FFF;
   font-size:220%;
}
.elegirh{
  position: absolute;
  top:76%;
  left:45%;
  width:7%;
  height:5%;
  background:rgba(0, 173, 239,0.5);
}
.elimininarequipo{
  cursor:pointer;
  position:absolute;
  bottom:5%;
  left:33%;
  height:4%;
  width:10%;
  background:rgba(255, 0, 0, 0.5);
  border:1px solid red;
  color:#FFF;
}
