.container-games {
    position: relative;
    text-align: center;
    width: 100%;
}
 .games{
     position:relative;
     height:25%;
     width:20%;
     margin: 20px;
}

 .games:hover{
     transform : scale(1.1);
     z-index: 1;
     transition-duration: 1s;
}
