<<<<<<< HEAD
#title-query {
  font-family: 'Noto Serif KR', sans-serif;
  font-family: 'Notable', sans-serif;
  color:#00afef;
  text-align: center;
  font-size: 2.8em;
  margin: 5%;
}
#title-query:hover {
  color: white;
}
=======
>>>>>>> 3955bc0ab1b8106b5a4a3cada90d754f23f40cf5
.container-games {
    position: relative;
    text-align: center;
    width: 100%;
}
 .games{
     position:relative;
<<<<<<< HEAD
     height:500px;
     width:380px;
=======
     height:25%;
     width:20%;
>>>>>>> 3955bc0ab1b8106b5a4a3cada90d754f23f40cf5
     margin: 20px;
}

 .games:hover{
     transform : scale(1.1);
     z-index: 1;
     transition-duration: 1s;
}
