*{
margin:0;
padding:0;
}
body{
  background-image:url('../images/Fondo6.jpg');
  background-size:cover;
  overflow-x:hidden;
}
.logoequipo{
  position:absolute;
  top:5%;
  left:5%;
  width:205px;
  height:205px;
  border-radius:150px;

}
.banner{
  width:100%;
  height:50%;
  background-image:url('../images/banneruno.jpg');
background-size:100% 100%;
border-bottom:solid 2px #FFF;
}
.contequipo{
  position:absolute;
  top:3%;
  left:44%;
  background:rgba(0, 0, 0, 0.7);
  width:230px;
  height:230px;
  border-radius:150px;
  border:4px solid #000;
}
.team{
font-size:130%;
}
.conteam{
  position:absolute;
	top:40%;
  right:39%;
	width:15%;
	height:5%;
  color:#FFF;
  border:4px solid #000;
background:rgba(0, 0, 0, 0.6);
text-align:center;
}
.equipos{
  width:30%;
  font-size:39.5px;
  background:rgba(78, 63, 63,0.3);
  color:#FFF;
}
.equipos li{
  text-align:center;
  outline:1px solid #FFF;
  position:relative;

  transition: all 0.7s;
}
.equipos li:hover{

  background:rgba(0,0,0,0.7);
  border-left:5px solid #FFF;
}
.equipos ul{
  list-style:none;
  padding:0;
  margin:0;
}
.integrantes{
  text-align:center;
  color:#00afef;
}
.fb-comments{
  position:absolute;
  top:0%;
  left:0%;
}
.blanco{
  position:absolute;
  width:70%;
  height:90%;
  left:30%;
  top:50%;
  background:rgba(255, 255, 255, 0.5);

  }

  .contenido {
      position:absolute;
      background-image:url('../images/Fondo6.jpg');
      background-size: cover;
      border-left: 1px solid #FFF;
      transition:0.7s;
      width:100%;
      height:100%;

 }
