.contenido {
		position:absolute;
		background-image:url('../images/esports/Fondo4.png');
		background-size: cover;
		border-left: 1px solid #FFF;
		transition:0.7s;
		width:100%;
		height:100%;
}
#trnegra{
	width:100%;
    height:100%;
    position:inherit;
	 background:rgba(0,0,0,.7);
}
.aceptar{
  background:#FFF;
  position:absolute;
  width:10%;
  height:5%;
  top:13%;
  left:60%;
  color:#FFF;
  border:1px solid #00afef;
  background:rgba(4, 50, 86, 0.6);
  cursor:pointer;

}
.rechazar{
  position:absolute;
  top:13%;
  left:72%;
  width:10%;
  height:5%;
  background:rgba(255, 0, 0, 0.5);
  color:#FFF;
  border:1px solid red;
  cursor:pointer;

}
.texto{
  position:absolute;
  font-size:200%;
  left:40%;
  top:3%;
}
