* {
    padding:0;
    margin:0;

    box-sizing: border-box;
}

body{
    font-family:helvetica, arial;
    background-image: url('../images/Fondo1.jpg');
    background-size:cover;
    background-attachment:fixed;
}

#particles-js {
    position:fixed;
    width:100%;
    height:100%;
   background:rgba(0,0,0,.7);

}
.video{
    position:absolute;
    width:100%;
}

.logo{
		position: relative;
		width: 100px;
		display:inline-block;
		margin-left:10px;
		padding:15px 20px;
		bottom:30px;
}
.logoC{
        position: relative;
        width: 100px;
        display:inline-block;
        margin-left:10px;
        padding:15px 20px;
        bottom:0px;
}
 .nav{
     top:0;
     position:relative;
     width:100%;
     background:#000;
     z-index:1;
     border-bottom:solid 1px white;
     height:60px;
     color: white;
}
 .nav ul{
     list-style:none;
}
 .menumain li{
     position: relative;
     display:inline-block;
     margin-left:10px;
     padding:15px 20px;
     color: rgba(255, 255, 255, 0.7);
     font-family:Helvetica, Arial;
     text-decoration:none;
     font-size:30px;
     position:relative;
     bottom:30px;
}
 .menumain li a{
     display: inline-block;
     padding:10px;
     color: #00afef;
     font-family:Helvetica, Arial;
     text-decoration:none;
     font-size:20px;
     margin-top:20px;
     float:right;
     bottom:30px;
     text-align: center;
}
 .menumain li a:hover{
     color:#fff;
     transition:all 0.3s;
}
.submenu{
     position:absolute;
     background: rgb(38,38,38);
     background: -moz-linear-gradient(-45deg, rgba(38,38,38,1) 19%, rgba(10,92,92,1) 48%, rgba(11,89,97,1) 54%, rgba(37,37,31,1) 77%);
     background: -webkit-linear-gradient(-45deg, rgba(38,38,38,1) 19%,rgba(10,92,92,1) 48%,rgba(11,89,97,1) 54%,rgba(37,37,31,1) 77%);
     background: linear-gradient(135deg, rgba(38,38,38,1) 19%,rgba(10,92,92,1) 48%,rgba(11,89,97,1) 54%,rgba(37,37,31,1) 77%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#25251f',GradientType=1 );
     visibility:hidden;
     opacity:0;
     transition: opacity 1s;
     margin-top:75px;
     font-family:Helvetica, Arial;
     text-decoration:none;
     font-size:20px;
     border:solid 1px white;
     height:130px;
}
.Consultas{
    padding:15px 20px;
    color: rgba(255, 255, 255, 0.7);
    font-family:Helvetica, Arial;
    text-decoration:none;
    font-size:30px;
    position:absolute;
    bottom:10%;

 }
 .submenu li a{
     display:block;
     color:#FFF;
     font-family: Helvetica, Arial;
     text-decoration:none;
     height:0px;

}
 .nav li:hover .submenu {
     visibility: visible;
     opacity:1;
}
 .account{
    float: right;
}
.submenu-account{
     position: absolute;
     right:0%;
     width:10%;
     background:#11090999;
     visibility:hidden;
     opacity:0;
    transition: opacity 1s;
     margin-top: 75px;
     font-family: Helvetica, Arial;
     text-decoration: none;
     font-size: 20px;
     border:solid 1px white;
     width: auto;
     text-align: center;
}
.login-hg {
  text-align: center;
  top: 35px;
  position: relative;
  cursor: pointer;
	background-color: #00afef;
	text-decoration: none;
	color: #91e4ff;
	height: 40px;
	width: 100%;
  min-width: 300px;
	border: 1px solid #0d639f;
	font-size: 20px;
  z-index: 1;
}
  .submenu-account li {
    display: block;
    margin: 0;
  }
 .submenu-account li a{
    color: black;
    color:#00afef;
    font-family: Helvetica, Arial;
    text-decoration:none;
}


#kevin {
    position:relative;
    top:15px;
  padding: 0;
  float: none;
  text-align:center;
}
 .nav li:hover .submenu-account {
     visibility: visible;
     opacity:1;
}

/*slider*/
 #div1{
    position:relative;
    top:-130px;
     margin:0;
     padding:0;
     width:100%;
     height:570px;
     margin-top:60px;
}
 .slider{
   position:relative;

     width:100%;
     border-bottom:solid 2px white;
     overflow: hidden;
     margin-left:10px;
     margin-right:-200px;

}
 .slider ul{
     padding:0px;
     display:flex;
     width:400%;
     animation: cambio 20s infinite alternate;
     animation-timing-function:ease-in;
}
 .slider li{
     list-style:none;
     width:100%;
}
 .slider img{
     width:100%;
     margin:auto;
}
 @keyframes cambio{
     0% {
        margin-left: 0;
    }
     20%{
        margin-left: 0;
    }
     25%{
        margin-left: -100%;
    }
     45%{
        margin-left: -100%;
    }
     50%{
        margin-left: -200%;
    }
     70%{
        margin-left: -200%;
    }
     75%{
        margin-left: -300%;
    }
     100%{
        margin-left: -300%;
    }
}
/*Logo*/

 #palabra{
     position:relative;
     bottom:110px;
     color:#00afef;
     display: block;
     text-align: center;
     margin: 10px;
     padding: 20px;
}
 #palabra:hover{
     color:#FFF;
     transition:1.5s;

}



 .container-video {
     height: 0;
     overflow: hidden;
     padding-bottom: 56.25%;
     padding-top: 30px;
     position: relative;
}
 .container-video video {
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
		 transition: 3s;
}
.footer2{
    position:absolute;
   top:142%;
    width:100%;
    text-align:center;
    background: #202020;
     color: white;

}

 .footer3{
    position:absolute;
   top:135%;
    width:100%;
    text-align:center;
    background: #202020;
     color: white;

}
 footer{
    position:absolute;
   top:250%;
    width:100%;
    text-align:center;
    background: #202020;
     color: white;

}
 .container-footer-all{
     width: 100%;
     max-width: 1200px;
     margin: auto;
     padding: 40px;
}
 .container-body{
     display: flex;
     justify-content: space-between;
}
 .colum1{
     max-width: 400px;
}
 .colum1 h1{
     font-size: 22px;
}
 .row{
     margin-top: 20px;
     display: flex;
}
 .row img{
     width: 36px;
     height: 36px;
}
 .row label{
     margin-top: 10px;
     margin-left: 20px;
     color: #c7c7c7;
}
 .colum2{
     max-width: 400px;
}
 .colum2 h1{
     font-size: 22px;
}
 .row2{
     margin-top: 20px;
     display: flex;
}
 .row2 img{
     width: 36px;
     height: 36px;
}
 .row2 label{
     margin-top: 10px;
     margin-left: 20px;
     max-width: 140px;
}
 .container-footer{
     width: 100%;
     background: #101010;
}

 .copyright{
     color: #C7C7C7;
}
 .copyright a{
     text-decoration: none;
     color: white;
     font-weight: bold;
}
 .information a{
     text-decoration: none;
     color: #C7C7C7;
}
 @media screen and (max-width: 1100px){
     .container-body{
         flex-wrap: wrap;
    }
     .colum1, .colum2{
         margin-top: 40px;
    }
}

 .Nosotros{
     padding:15px 20px;
     color: rgba(255, 255, 255, 0.7);
     font-family:Helvetica, Arial;
     text-decoration:none;
     font-size:30px;
     margin-bottom:20px;
     position:relative;
     bottom:29px;
}
.Contenedortx{
    width:90%;
    height:50%;
    position:absolute;
    top:85%;
    left:5%;
    background:rgba(0,0,0,0.7);
    border:2px solid #FFF;
}


.Rcont{
    position:absolute;
    top:90%;
    left:29%;
    font-size:32px;
    color:#00afef;
}
.Rtcont{
    position:absolute;
    top:98%;
    left:10%;
    width:80%;
    font-size:30px;
    color:#FFF;
}

.container-games {

}
    .lol{
    position:absolute;
    left:2%;
    height:400px;
    width:300px;

}
.lol div{
     transition-duration: 1s;
}

.lol:hover{
        transform : scale(1.1);
        z-index: 1;
        transition-duration: 1s;

}
.paladins{
     position:absolute;
    left:27%;
    height:400px;
    width:300px;

}
.paladins:hover{
    transition:1s;
    transform : scale(1.1);
        z-index: 1;
}
.dota{
    position:absolute;
    left:51%;
    height:400px;
    width:300px;
}
.dota:hover{
     transition:1s;
    transform : scale(1.1);
        z-index: 1;
}
.fifa{
    position:absolute;
    right:2%;
    height:400px;
    width:300px;

}
.fifa:hover{

    transform : scale(1.1);
    z-index: 1;
    transition-duration: 1s;
}
.fornite{
     position:absolute;
    top:182%;
    left:2%;
    height:400px;
    width:300px;
}
.fornite:hover{
     transition:1s;
    transform : scale(1.1);
        z-index: 1;
}
.overwatch{
     position:absolute;
   top:182%;
    left:27%;
    height:400px;
    width:300px;
}
.overwatch:hover{
     transition:1s;
    transform : scale(1.1);
        z-index: 1;
}
.starcraft{
    position:absolute;
    top:182%;
    left:51%;
    height:400px;
    width:300px;
}
.starcraft:hover{
    transition:1s;
    transform : scale(1.1);
        z-index: 1;

}
.hearthstone{
    position:absolute;
    top:182%;
    right:2%;
    height:400px;
    width:300px;
}
.hearthstone:hover{
transition:1s;
    transform : scale(1.1);
        z-index: 1;

}
.enlace{
     position:absolute;
     height:10%;
     width:17%;
     left:44%;
     top:71%;
     background:rgba(0, 173, 239,0.3);
     color:#FFF;
     border:1px solid #00afef;
     font-size:20px;
}
.enlace:hover{
    border: 2px solid #FFF;
    transition-duration:1s;
     transform : scale(1.1);
        z-index: 1;
}
