* {
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family: Helvetica,Arial,sans-serif;
}
 body{
     background-color:#000;
}
.logo{
		position: relative;
		width: 100px;
		display:inline-block;
		margin-left:10px;
		padding:15px 20px;
		bottom:30px;
}
 .nav{
     top:0;
     position:absolute;
     width:100%;
     background:#000;
     z-index:1;
     border-bottom:solid 1px white;
     height:60px;
     color: white;
}
 .nav ul{
     list-style:none;
}
 .menumain li{
     position: relative;
     display:inline-block;
     margin-left:10px;
     padding:15px 20px;
     color: rgba(255, 255, 255, 0.7);
     font-family:Helvetica, Arial;
     text-decoration:none;
     font-size:30px;
     position:relative;
     bottom:30px;
}
 .menumain li a{
     display: inline-block;
     padding:10px;
     color: #00afef;
     font-family:Helvetica, Arial;
     text-decoration:none;
     font-size:20px;
     margin-top:20px;
     float:right;
     bottom:30px;
     text-align: center;
}
 .menumain li a:hover{
     color:#fff;
     transition:all 0.3s;
}
.submenu{
     position:absolute;
     background:#404040;
     visibility:hidden;
     opacity:0;
     transition: opacity 1s;
     margin-top:75px;
     font-family:Helvetica, Arial;
     text-decoration:none;
     font-size:20px;
     border:solid 1px white;
}

 .submenu li a{
     display:block;
     color:#00afef;
     font-family: Helvetica, Arial;
     text-decoration:none;
}
 .nav li:hover .submenu {
     visibility: visible;
     opacity:1;
}
 .account{
    text-align: center;
		color: rgba(255, 255, 255, 0.7);
		font-family:Helvetica, Arial;
		text-decoration:none;
		font-size:30px;
		float:right;
		position:relative;
		bottom: 30px;
    min-width: 700px;
    display: inline-block;
}
.submenu-account{
     position: absolute;
     background:#404040;
     visibility:hidden;
     opacity:0;
     right: 0;
     transition: opacity 1s;
     margin-top: 75px;
     font-family: Helvetica, Arial;
     text-decoration: none;
     font-size: 20px;
     border:solid 1px white;
     width: auto;
     text-align: center;
}
.login-hg {
  text-align: center;
  top: 35px;
  position: relative;
  cursor: pointer;
	background-color: #00afef;
	text-decoration: none;
	color: #91e4ff;
	height: 40px;
	width: 100%;
  min-width: 300px;
	border: 1px solid #0d639f;
	font-size: 20px;
  z-index: 1;
}
  .submenu-account li {
    display: block;
    margin: 0;
  }
 .submenu-account li a{
    color: black;
    color:#00afef;
    font-family: Helvetica, Arial;
    text-decoration:none;
}


#kevin {
  padding: 0;
  float: none;
  text-align:center;
}
 .nav li:hover .submenu-account {
     visibility: visible;
     opacity:1;
}

/*slider*/
 #div1{
     margin:0;
     padding:0;
     width:100%;
     height:570px;
     margin-top:60px;
}
 .slider{
     top:0;
     width:100%;
     border-bottom:solid 2px white;
     overflow: hidden;
     margin-left:10px;
     margin-right:-200px;
     position:relative;
}
 .slider ul{
     padding:0px;
     display:flex;
     width:400%;
     animation: cambio 20s infinite alternate;
     animation-timing-function:ease-in;
}
 .slider li{
     list-style:none;
     width:100%;
}
 .slider img{
     width:100%;
     margin:auto;
}
 @keyframes cambio{
     0% {
        margin-left: 0;
    }
     20%{
        margin-left: 0;
    }
     25%{
        margin-left: -100%;
    }
     45%{
        margin-left: -100%;
    }
     50%{
        margin-left: -200%;
    }
     70%{
        margin-left: -200%;
    }
     75%{
        margin-left: -300%;
    }
     100%{
        margin-left: -300%;
    }
}
/*Logo*/

 #palabra{
     position:relative;
     color:#00afef;
     display: block;
     text-align: center;
     margin: 10px;
     padding: 20px;
}
 #palabra:hover{
     color:#BA0101;
     transition:1.5s;
}
 #contentDiv {
     width: 100%;
     overflow:hidden;
     text-align: center;
     margin:auto;
		 margin-top: 10px;
		 margin-bottom: 10px;
		 padding: 10px;
}
#contentDiv div {
	display:inline-table;
	height:400px;
	width:300px;
	padding: 3px;
}
 #contentDiv div img{
	 height:400px;
	 width:300px;
	 transition-duration: 1s;
 }
 #contentDiv div img:hover {
		transform : scale(1.1);
		z-index: 1;
 }

 .container-video {
     height: 0;
     overflow: hidden;
     padding-bottom: 56.25%;
     padding-top: 30px;
     position: relative;
}
 .container-video video {
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
		 transition: 3s;
}

 footer{
     text-align:center;
     width: 100%;
     background: #202020;
     color: white;
     top:-1200px;
}
 .container-footer-all{
     width: 100%;
     max-width: 1200px;
     margin: auto;
     padding: 40px;
}
 .container-body{
     display: flex;
     justify-content: space-between;
}
 .colum1{
     max-width: 400px;
}
 .colum1 h1{
     font-size: 22px;
}
 .row{
     margin-top: 20px;
     display: flex;
}
 .row img{
     width: 36px;
     height: 36px;
}
 .row label{
     margin-top: 10px;
     margin-left: 20px;
     color: #c7c7c7;
}
 .colum2{
     max-width: 400px;
}
 .colum2 h1{
     font-size: 22px;
}
 .row2{
     margin-top: 20px;
     display: flex;
}
 .row2 img{
     width: 36px;
     height: 36px;
}
 .row2 label{
     margin-top: 10px;
     margin-left: 20px;
     max-width: 140px;
}
 .container-footer{
     width: 100%;
     background: #101010;
}
 .footer{
     max-width: 1200px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     padding: 20px;
}
 .copyright{
     color: #C7C7C7;
}
 .copyright a{
     text-decoration: none;
     color: white;
     font-weight: bold;
}
 .information a{
     text-decoration: none;
     color: #C7C7C7;
}
 @media screen and (max-width: 1100px){
     .container-body{
         flex-wrap: wrap;
    }
     .colum1, .colum2{
         margin-top: 40px;
    }
}
/*#Horarios{
     position:relative;
     bottom:1250px;
     color:#00afef;
}
 .Tablas{
     position:relative;
     bottom:1230px;
     color:white;
}
 #Horarios:hover{
     color:#BA0101;
}
 td, tr{
     height:35%;
     border-radius:7px;
     padding:3%;
     color:#00afef;
}
 table{
     border-radius:12px;
}
 .Diastabla{
     background-color: #404040;
}
 .Horariostabla{
     background-color: #404040;
}
*/
 .Nosotros{
     padding:15px 20px;
     color: rgba(255, 255, 255, 0.7);
     font-family:Helvetica, Arial;
     text-decoration:none;
     font-size:30px;
     margin-bottom:20px;
     position:relative;
     bottom:29px;
}
