* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://i.pinimg.com/originals/1d/e8/5a/1de85a5cc10ac1f20c0d858921e64f7e.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  width: 150px;
  height: 120px;
  position: relative;
}

h1 {
  color: #00afef;
  margin-top: 10px;
  font-size: 40px;
  text-align: center;
}
.options-register {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.options-register button {
  background-color: #00afef;
  color: white;
  width: 48%;
}
.icon {
  font-size: 20px;
}
fieldset {
  margin: 0;
  border: 0;
}
.form-register {
  width: 95%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
}
.container-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
}
.filedset-side {
  width: 48%;
}
.filedset-all {
  width: 100%;
}


.Logog {
  width: 20px;
  height: 20px;
  margin-right: 100px;
  margin-top: 3px;
}

.Terminos {
  color: #00afef;
  position: relative;
  top: 110px;
  right: 530px;
}

.Privacidad {
  position: relative;
  left: 800px;
  top: -28px;
}

.Cuenta {
  background-color: #00afef;
  color: white;
  width: 448px;
  height: 35px
	margin-top:100px;
  position: relative;
  top: 160px;
  right: 452px;
  padding: 5px;
}

.Gratis {
  width: 448px;
  height: 30px;
  color: #FFF;
  background-color: #00afef;
  position: relative;
  margin-left: -182px;
  top: 120px;
}




.btfb2 {
  background-color: #00afef;
  color: white;
  width: 150px;
  height: 30px;
  position: relative;
  top: 115px;
  right: 425px;
}

.btg2 {
  background-color: #00afef;
  color: white;
  width: 150px;
  height: 30px;
  position: relative;
  top: 81px;
  left: 155px;
}






.Login {
  position: relative;
  top: 55px;
  left: 150px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #00afef;
}

.HG {
  color: #FFF;
}

ul {
  font-style: none;
}
