* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://i.pinimg.com/originals/1d/e8/5a/1de85a5cc10ac1f20c0d858921e64f7e.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  width: 150px;
  height: 120px;
  margin: auto;
}
header{
  padding: 20px 0;
  margin-bottom: center;
  width: 100%;
  text-align: center;
}
header a{
  text-decoration: none;
  color: #333;
}
h1 {
  margin: 10px;
  color: #00afef;
  font-size: 40px;
  text-align: center;
}
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
.options-register {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.options-register button {
  background-color: #00afef;
  color: white;
  width: 49%;
  max-width: 250%;
  margin-bottom: 10px;
}
.icon {
  font-size: 20px;
}
.creation-container {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}
.grid-parent {
    padding-left: 0;
}
.form-register {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.container-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}
.set-all {
  width: 100%;
  max-width: 464px;
}
.set-side {
  width: 42%;
  max-width: 250px;
}
.set-sideb {
  width: 45%;
}
.terms {
  color: #00afef;
}
 a {
   text-decoration: none;
 }
.Cuenta {
  background-color: #00afef;
  color: white;
}
.Gratis {
  color: #FFF;
  background-color: #00afef;
}
.login {
  background-color: #00afef;
  text-decoration: none;
  color: #FFF;
}
