#lol{
	background-image: url(../Api/Img/w.jpeg);
	background-size: cover;
}
#lo{
	background-image: url(../Api/Img/y.jpg);
	background-size: cover;
}
#l{
	background-color: #0656ff57;
	margin-left: 200px;
	margin-top: 10px;
	color:black;
	height:30px; 
	width: 300px;
}
#z{
	background-color: #200025;
	color:white;
	height:30px; 
	margin-left: 270px;
	margin-top: 50px;
	width: 150px;
}
h1{
	margin-top: 10px;
	color:white;
	border: 60px 50px;
	border-radius: 2px solid black;
	text-align: center;
}
h2{
	margin-top: -18px;
	color:white;
	border-radius: 2px solid black;
	text-align: center;
}
#kas{
	background-image:url(../Api/Img/k.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 100px;
	margin:auto; 
	height:500px; 
	width:700px;
}
#cas{
	background-color:rgba(140,140,140,0.5);
	border: 2px solid #00947B;
	font-family: Arial;
	font-size: 20px;
	margin:auto; 
	height:150px; 
	width:500px;
	text-align: center;
	color: #071B18;
}
#duo{
	background-color:rgba(140,140,140,0.5);
	border: 2px solid #00947B;
	font-family: Arial;
	font-size: 20px;
	margin: left; 
	margin-top: 49px;
	height:380px; 
	width:400px;
	text-align: center;
	color: #071B18;
}
#flex{
	background-color:rgba(140,140,140,0.5);
	border: 2px solid #00947B;
	font-family: Arial;
	font-size: 20px;
	margin: left; 
	margin-left: 465px;
	margin-top: -385px;
	height:380px; 
	width:400px;
	text-align: center;
	color: #071B18;
}
#vs{
	background-color:rgba(140,140,140,0.5);
	border: 2px solid #00947B;
	font-family: Arial;
	font-size: 20px;
	margin:left; 
	margin-left: 930px;
	margin-top: -385px;
	height:380px; 
	width:400px;
	text-align: center;
	color: #071B18;
}